.help-wanted {
	margin: 10px;
}

.header-text {
	margin: 20px;
}

.label-text {
	padding: 10px;
}

.form-search-skills, .form-search-radius {
	margin: 10px;
	justify-content: center;
}

#hoursSelect {
	max-width: 100px;
}

#skillSelect {
	min-width: 250px;
}

.create-ad {
	margin: 10px;
	background: #56f;
}