.help-wanted {
	margin: 10px;
}

.header-text {
	margin: 20px;
}

.label-text {
	margin: 0px 10px 0px 10px;
}

.form-search-skills, .form-search-radius {
	margin: 10px 0px 10px 0px;
	justify-content: center;
}

.create-ad {
	margin: 0px 10px 0px 10px;
	background: #56f;
}